@import "tailwindcss";

*{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  margin: 0px;

}
body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

canvas {
  border-radius: 10px;
}